
services:
  file-validation:
    build:
      context: .
      target: development
    container_name: file-validation-nginx-dev
    environment:
      NODE_ENV: development
      DOCKER_ENV: "true"
    command: [ "npm", "run", "dev"]
    develop:
      watch:
        - action: sync
          path: ./app
          target: /file-validation/app
        - action: sync
          path: ./next.config.ts
          target: ./file-validation/next.config.ts
        - action: rebuild
          path: ./package.json
        - action: sync
          path: /public/upload
          target: ./file-validation/public/upload
    restart: unless-stopped
  nginx:
    build: 
      context: ./nginx
    develop:
      watch:
        - action: sync+restart
          path: ./default.conf 
          target: /etc/nginx/conf.d/default.conf
    restart: unless-stopped
    ports:
     - 80:80
    depends_on:
      - file-validation

# The commented out section below is an example of how to define a PostgreSQL
# database that your application can use. `depends_on` tells Docker Compose to
# start the database before your application. The `db-data` volume persists the
# database data between container restarts. The `db-password` secret is used
# to set the database password. You must create `db/password.txt` and add
# a password of your choosing to it before running `docker-compose up`.
#     depends_on:
#       db:
#         condition: service_healthy
#   db:
#     image: postgres
#     restart: always
#     user: postgres
#     secrets:
#       - db-password
#     volumes:
#       - db-data:/var/lib/postgresql/data
#     environment:
#       - POSTGRES_DB=example
#       - POSTGRES_PASSWORD_FILE=/run/secrets/db-password
#     expose:
#       - 5432
#     healthcheck:
#       test: [ "CMD", "pg_isready" ]
#       interval: 10s
#       timeout: 5s
#       retries: 5
# volumes:
#   db-data:
# secrets:
#   db-password:
#     file: db/password.txt

